p {
    background-color: #f2f2f2;
    padding: 8px;
    width: 76%;
    margin-left: 1cm;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    height: 100vh;
    margin: 0;

}

form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 40%;
    border: 2px solid #0c4f78;
    margin: 0 auto;
          
}


.username_label {
    font-weight: bold;
    background-color: rgb(109, 175, 16);
    padding: 10px;
    margin: 2px 0;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 15px;
    margin-right: 0.5cm;
    margin-left: 1cm;
    border: 2px solid #0c4f78;
    position: relative;

}

.username_label::after{
    content: "*";
    color: red;
    position: absolute;
    top: 0;
    right: 10px;
}

.username{
    width: 50%;
    height: 35px;
    border: 2px solid #0c4f78;
    display: inline-flex;
}

.checkbox-label {
    position: relative;
    top: 15px;
    padding-left: 30px;
    padding-right: 20px;
    cursor: pointer;
}

#checkbox_1 {
    position:relative; 
    left: 1px;
}
.checkbox-label input {
    display: none;
}

.checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(109, 175, 16);
    border: 2px solid #0c4f78;
}

.checkbox-label input:checked + .checkbox-custom:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
}
        
.container{
    display: flex;
    padding-bottom: 20px;
}
      
.container_2{
            padding-bottom: 20px;
}
        
.phankhoa{
    width: 25%;
    height: 35px;
    border: 2px solid #0c4f78;
    display: inline-flex;
    text-align: center;
}
        
.address_label {
    font-weight: bold;
    background-color: rgb(109, 175, 16);
    padding: 10px;
    margin: 2px 0;
    color: white;
    display: inline-flex;
 
    width: 90px;
    height: 15px;
    margin-right: 0.5cm;
    margin-left: 1cm;
    border: 2px solid #0c4f78;
    vertical-align: top;
    position: relative;
}

.address{
    width: 50%;
    height: 100px;
    border: 2px solid #0c4f78;
    display: inline-flex;
    word-wrap: break-word;
}

input[type="submit"] {
    background-color: rgb(109, 175, 16);
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    border-style;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    border: 2px solid #0c4f78;
    display: block;
    margin: 0 auto;      
}

.errs {
    color: red;
    text-align: justify;
    
}

.form_container {
    text-align: left;
}
