body {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #0c4f78;
    background-color: #fff;
    text-align: center;
    margin-top: 50px;
}

.form_container {
    text-align: left;
}

strong {
    font-weight: bold;
    color: #fff;
    background-color: rgb(109, 175, 16);
    padding: 6px;
    margin-right: 30px;
    display: inline-block;
    width: 100px;
}

#confirm-button {
    background-color: rgb(109, 175, 16);
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #0c4f78;
    cursor: pointer;
    border-radius: 5px;
}

.success-message {
    background-color: #dff0d8;
    color: black;
    padding: 10px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    margin-bottom: 10px;
}