body {
    max-width: 800px;
    margin: auto auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin-top: 80px;
}

.error_messages {
    color: red;
    text-align: justify;
}

label {
    font-weight: bold;
    color: #fff;
    background-color: #0262ac;
    padding: 6px;
    display: inline-block;
    width: 110px;
}

.form_container {
    text-align: left;
}

.form_section {
    margin-bottom: 20px;
    
}

input[type="name"] {
    width: 600px;
    height: 27px;
    border: 1px solid black;
}
input[type="text"],
select,
input[type="file"] {
    height: 27px;
    border: 1px solid black;
    width: 200px;
}

.gender {
    display: flex;
}

.button_container {
    text-align: center;
}

#additional_info {
    height: 100px;
    width: 600px;
    align-self: flex-start;
}

#register_button {
    background-color: #0262ac;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}

strong {
    font-weight: bold;
    color: #fff;
    background-color: #0262ac;
    padding: 6px;
    margin-right: 30px;
    display: inline-block;
    width: 110px;
}

#confirm-button {
    background-color: #0262ac;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}